<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/app.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <title>BesTI Mart</title>
  </head>
  <body>
    <header>
      <nav>
        <h2>BesTI<span>MART</span></h2>
        <ul class="nav__menu">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/shop">Shop</a></li>
        </ul>
        <div class="nav__button__menu">
          <button class="nav__button nav__shopping">
            <span class="material-symbols-outlined">
              menu
              </span>
          </button>
          <button class="nav__button nav__hamburger-menu">
            <span></span>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div></div>
      <section id="hero">
        <div class="hero__container">
          <div>
            <h2 class="hero__title">Welcome to our <span>BesTI</span></h2>
            <p class="hero__description">
              We offer a global online shopping experience, allowing you to
              purchase products from various countries with ease. Our secure
              payment system supports multiple methods, giving you the
              flexibility and confidence to shop worry-free.
            </p>
            <button class="hero__letsbuy-button">Check More</button>
          </div>
          <img
            src="../assets/background/hero_image.png"
            alt=""
          />
        </div>
      </section>
      <section id="shopping">
        <div class="shopping__container">
            
          
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
