<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/app.css" />
    <title>BesTI Mart</title>
  </head>
  <body>
    <header></header>
    <main>
      <div></div>
      <section id="hero">
        <div class="hero__container">
          <div>
            <h2 class="hero__title">Welcome to our <span>BesTI</span></h2>
            <p class="hero__description">
              We offer a global online shopping experience, allowing you to
              purchase products from various countries with ease. Our secure
              payment system supports multiple methods, giving you the
              flexibility and confidence to shop worry-free.
            </p>
            <button class="hero__letsbuy-button">Check More</button>
          </div>
          <img
            src="../assets/background/isometric--shopping-camera-top-down-contrass-background-low-poly-isometric-art-3d-art-high-de.png"
            alt=""
          />
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
